<!DOCTYPE html>
<html>
    <div class="container" style="border-style:solid dashed; border-width:thick; background-color:beige;">
        <head>
            <title>Contact Us</title>
        </head>

        <body>
            <div style="text-align:center">
                <h1><b>Contact Us</b></h1>
            </div>
            <hr style="border-top:5px double"/>
            <h2>Want to report an issue with the website?</h2>
            <p><b>Support Team Email:</b> tamuflashpoint@gmail.com</p>
        </body>
    </div>
</html> 