<!DOCTYPE html>
<html>
    <div class="container" style="border-style:solid dashed; border-width:thick; background-color:beige;">
        <head>
            <title>Contact Us</title>
        </head>

        <body>
            <div style="text-align:center">
                <h1><b>Contact Us</b></h1>
            </div>
            <hr style="border-top:5px double"/>
            <h2>Have a question or want to report an issue?</h2>
            <p><b>FLASH Director Email:</b> flashdirectors@gmail.com</p>
            <h2>Have an issue related to points?</h2>
            <p><b>Logistics and Planning Executive Email:</b> aggieflashlp@gmail.com (The " l " in the email is lowercase " L ")</p>
        </body>
    </div>
</html> 