<div class="container">
  <h1>Committee Log — Committee Name</h1>

  <table class="table mt-4">
    <thead>
    <tr>
      <th>Name</th>
      <th>Event</th>
      <th>Timestamp</th>
    </tr>
    </thead>

    <tbody>
    <% @committeeAttendanceLogs.each do |log| %>
      <tr>
        <td><%= log.first_name + ' ' + log.last_name %></td>
        <td><%= log.event_name %></td>
        <td><%= log.time_logged %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>