<h1>Editing user</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user, class:"btn btn-info" %> |

<%=
if (@user.committee_id)
    link_to 'Back', users_path, class:"btn btn-info" 
else
    link_to 'Back', users_pending_path, class:"btn btn-info"
end
%>
