<div class="container">
  <h1>Attendance Record</h1>
<% if current_user.check_executive? || current_user.check_staff? || (current_user.check_freshman? && current_user.committee_id == @user.committee_id)%> 
  <table class="table mt-4">
    <thead>
    <tr>
      <th>Event</th>
      <th>Timestamp</th>
    </tr>
    </thead>

    <tbody>
   
    <% @user.attendance_logs.each do |log| %>
      
      <tr>
        <td><%= log.event.name %></td>
        <td><%= log.created_at %></td>
      </tr>
      <% end %>  
    
    </tbody>
  </table>
<% end %>
  <%= link_to 'Back', attendance_user_index_path, :class => "btn btn-primary btn-large" %>
</div>