<%= link_to "Back to Event", event_path(@event), class: "btn btn-secondary" %>

<div class="container">
    <h2>Delete Book</h2>
    <%= form_for( @event , method: 'delete') do |f| %>
    <p>Are you sure you want to delete event: <b><%= @event.name %></b></p>
    <p>And all of its attendance logs and RSVPs?</p>
    <%= f.submit "Delete Event", disable_with: 'Deleting Event...', class: "btn btn-danger" %>
    <% end %>
</div>