<%= link_to "Back to Event", event_path(@event) %>

<div class="container">
    <h2>Delete Book</h2>
    <%= form_for( @event , method: 'delete') do |f| %>
    <p><%= "Are you sure you want to delete event: #{@event.name}" %></p>
    <%= f.submit "Delete Event", disable_with: 'Deleting Event...' %>
    <% end %>
</div>