<div class="container">
    <% if user_signed_in? && !current_user.check_confirmed? %>
    <h1>Waiting to be confirmed by Executive</h1>
    <% else %>
    <h2>Events</h2>
    <% if current_user.check_staff? %>
    <%= link_to "Add New Event", new_event_path, class: "btn btn-success" %>
    <% end %>
    <%= month_calendar(attribute: :start_timestamp, end_attribute: :end_timestamp, events: @events) do |date, events| %>
    <%= date.day %>
    <% events.each do |event| %>
    <div>
        <%= link_to event.name.truncate(15), event_path(event) %>
    </div>
    <% end %>
    <% end %>
    <% end %>
</div>