<%= link_to "Back to List", events_path %>

<div class="container">
    <h2>Create Event</h2>

    <%= form_for( @event ) do |f| %>
    <%= render partial: 'form', locals: {f:f} %>
    <%= f.submit "Create Event", disable_with: 'Creating Event...' %>
    <% end %>
</div>