<%= link_to "Back", :back, class: "btn btn-secondary" %>

<div class="container">
    <h2>Create Event</h2>

    <%= form_for( @event ) do |f| %>
    <%= render partial: 'form', locals: {f:f} %>
    <%= f.submit "Create Event", disable_with: 'Creating Event...', class: "btn btn-primary" %>
    <% end %>
</div>