/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*** GLOBAL ***/
body {
  background-color: rgb(44, 37, 74);
  color: white;
}
/*** /GLOBAL/ ***/

/*** NAVBAR ***/
.navbar.bg-dark {
  background-color: #0c2461 !important;
}
/*** /NAVBAR/ ***/

/*** NAV MENU ***/
.header {
  position: fixed;
  z-index: 3;
  background-color: #000037;
  height: 99.9999999vh;
  box-shadow: 3px 3px 6px -3px rgba(0, 0, 0, 0.7);
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 320px;
  top: 0;
}

.close-link {
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.close-link:hover {
  color: white;
}

.nav-link {
  cursor: pointer;
}

.menu-text {
  font-weight: bold;
  text-transform: uppercase;
  color: #eb2f06;
  font-size: 14px;
  font-family: 'Baloo Paaji 2', cursive;
  margin-left: 5px;
}

.header-item {
  font-size: 17px;
  font-family: 'Baloo Paaji 2', cursive;
  font-weight: 500;
  margin: 16.5px 1rem;
}

a.header-link {
  color: #fff;
}

a.header-link:hover {
  text-decoration: none;
}

.header-top-link {
  font-family: 'Zen Dots', cursive;
  font-size: 22px;
  letter-spacing: 1.3px;
  display: inline-block;
  color: white;
}

.header-link:hover,
.header-top-link:hover {
  color: #c4d2e8;
  transition: all ease 0.5s;
}

.signed-in-as {
  color: white;
  text-align: center;
  font-weight: 500;
  font-family: 'Baloo Paaji 2', cursive;
}
/*** /NAV MENU/ ***/

/*** TABLES ***/
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  font-family: 'Baloo Paaji 2', cursive;
  margin-top: 3rem;
}

thead th:first-child {
  border-left: none;
  border-top-left-radius: 1.375rem;
  -webkit-border-top-left-radius: 1.375rem;
  -moz-border-radius-topleft: 1.375rem;
}

thead th:last-child {
  border-right: none;
  border-top-right-radius: 1.375rem;
  -webkit-border-top-right-radius: 1.375rem;
  -moz-border-radius-topright: 1.375rem;
}

tbody tr:last-child td:first-child {
  border-left: none;
  border-bottom-left-radius: 1.375rem;
  -webkit-border-bottom-left-radius: 1.375rem;
  -moz-border-radius-bottomleft: 1.375rem;
}

tbody tr:last-child td:last-child {
  border-right: none;
  border-bottom-right-radius: 1.375rem;
  -webkit-border-bottom-right-radius: 1.375rem;
  -moz-border-radius-bottomright: 1.375rem;
}

.table-bordered {
  border: 0 !important;
}

thead tr {
  background-color: #5b5288;
  color: white;
}

table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: 500;
}

tbody tr,
table.dataTable tbody tr,
.table-striped tbody tr:nth-of-type(odd),
.table-hover tbody tr:hover {
  background-color: #3b3363;
  color: white;
}

td,
th {
  text-align: center;
}

.table-bordered td,
.table-bordered th {
  border: 0;
  border-bottom: 1px solid rgb(220, 220, 220, 0.15);
}

.table-bordered tr:last-child td {
  border: 0;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: white;
  font-family: 'Baloo Paaji 2', cursive;
  margin-top: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
  margin-left: 5px;
  font-size: 16px;
  border: 0 !important;
  height: 40px;
  width: auto;
  padding: 0 15px;
  border-radius: 15px;
  line-height: 40px;
  display: inline-block;
  background-color: #5b5288;
  color: #fff !important;
  margin-top: 10px;
  font-family: 'Baloo Paaji 2', cursive;
  cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  color: white !important;
  cursor: pointer;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  background-color: #eb2f06;
  color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next {
  margin-left: 20px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
  margin-right: 20px;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button {
  height: 40px;
  width: 40px;
  padding: 0;
  margin-left: 5px;
  line-height: 40px;
  text-align: center;
  border-radius: 15px;
  background-color: white;
  color: #eb8153 !important;
}

/*** /TABLES/ ***/
